Basic python

1. Split this string

In [ ]:
 s = "Hi there Sam!"

In [ ]:
 s= "Hi there Sam!"
 x=s.split()
 print(x)

['Hi', 'there', 'Sam!']

2. Use .format() to print the following string.
output should be : the diameter of earth is 12742kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
planet = "Earth"
diameter = 12742
print('the diameter of{} is {} kilometers.'.format(planet,diameter));

the diameter ofEarth is 12742 kilometers.

3. In this next dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

Numpy

In [ ]:
import numpy as np

4.1 create an array of 10 zeros ?
4.2 create an array of 10 fives ?

In [ ]:
import numpy as np
array=np.zeros(10)

In [ ]:
import numpy as np
array=np.ones(10)*5

5. create an array of all the even integers from 20 to 35

In [ ]:
import numpy as np
array=np.arange(20,35,2)

6. create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
import numpy as np
x = np.arange(0,9).reshape(3,3)

7. concatenate a and b 
   a=np.array([5,6,7]),b=np.array([8,9,10])

In [ ]:
 a = np.array([5,6,7])
 b = np.array([8,9,10])
 np.concatenate((a,b),axis=0)

array([ 5,  6,  7,  8,  9, 10])

pandas

8. create a data frame with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
df = pd.DataFrame()

9. Generate the series of dates from 1st jan,2023 to 10th feb 2023

In [ ]:
import pandas as pd

per1 = pd.date_range(start = '1-1-2023', end = '10-02-2023', freq = '5H')

10.create 2D list to DataFrame
   Lists =[[1,'aaa',22],[2,'bbb',25],[3,'ccc',24]]

In [ ]:
 Lists =[[1,'aaa',22],[2,'bbb',25],[3,'ccc',24]]

In [ ]:
 import pandas as pd
 Lists =[[1,'aaa',22],[2,'bbb',25],[3,'ccc',24]]
 df = pd.DataFrame(Lists,columns = ['num1','char','num2'])